<p>Hi <%= @user.name %>,</p>

<p>
  <strong><%= @book.title %></strong> is <%= @days_overdue %>
  <%= 'day'.pluralize(@days_overdue) %> overdue at <%= @site_name %>.
  Please return it as soon as you can.
</p>

<p>
  <%= link_to 'View book', book_url(@book) %>
</p>
